<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$name_en}</title>
  <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script>
  var movie_id = '{$movie_id}';
  var minute = '{$minute}';
</script>

<body data-gr-c-s-loaded="true">
  <include file="Public:navi" />
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <include file="Public:sidebar" />
      </nav>

      <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
            <li class="breadcrumb-item"><a href="/ai/movies">Movies</a></li>
            <li class="breadcrumb-item active" aria-current="page">{$name} All Frames {{data.total}} (Minute : {$minute})</li>
          </ol>
        </nav>

        <div class="container-fluid">

          <div class="row" ng-show="loadsuccess">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link" href="{{page.link}}">{{page.name}}</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="row cloak" ng-show="loadsuccess">
            <div class="col-md-3" ng-repeat="frame in data.frames">
              <div id="frame.filename" class="card mb-4 box-shadow">
                <img class="card-img-top" style="display: block;" data-toggle="modal" data-target="#frameModal" data-filename="{{data.image_path}}{{frame.filename}}" ng-src="{{data.image_path}}{{frame.filename}}" data-holder-rendered="true">
                <div class="card-body pt-2 pl-2 pr-2 pb-1">
                  <span class="float-left badge badge-secondary">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
                </div>
                <div class="card-body pt-0 pl-2 pr-2 pb-2">
                  <small ng-bind="frame.filename"></small>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-show="loadsuccess">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link" href="{{page.link}}">{{page.name}}</a></li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>

</body>
<script>
  var app = angular.module('app', []);
  app.controller('controller', function($scope, $http) {
    $scope.loadsuccess = false;
    $http.get('/ai/movies/get_frames/movie_id/' + movie_id + '/minute/' + minute).success(
      function(data, status, headers, config) {
        $scope.data = data;
        $scope.loadsuccess = true;
      }).error(function(data, status, headers, config) {});
  });
</script>

</html>
