<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Movies ({{data.total}})</li>
                </ol>
            </nav>

            <div class="table-responsive">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Poster</th>
                                <th scope="col">Title</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="movie in data.movies" class="align-middle">
                                <th scope="row">{{movie.id}}</th>
                                <td><img style="width: 80px" ng-src="{{movie.image}}"></td>
                                <td><h6>{{movie.name}}</h6></td>
                                <td>
                                    <span class="btn btn-sm btn-outline-primary mr-2 mb-2"
                                          ng-click="all_frame_click(movie)">All Frames</span>
                                    <span class="btn btn-sm btn-outline-success mr-2 mb-2"
                                          ng-click="key_frame_click(movie)">Key Frames</span>
                                    <span class="btn btn-sm btn-outline-warning mr-2 mb-2"
                                          ng-click="face_frame_click(movie)">Face Frames</span>
                                    <span class="btn btn-sm btn-outline-danger mr-2 mb-2"
                                          ng-click="face_ssd_frame_click(movie)">Face SSD</span>
                                    <span class="btn btn-sm btn-outline-primary mr-2 mb-2"
                                          ng-click="classes_click(movie)">
                        Class <span class="badge badge-light" ng-bind="movie.classes[0].annotation_cnt"></span>
                    </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

<script>
    var app = angular.module('app', []);
    app.controller('controller', function ($scope, $http) {
        $http.get('/ai/movies/get_movies').success(
            function (data, status, headers, config) {
                $scope.data = data;
            }).error(function (data, status, headers, config) {
        });
        $scope.all_frame_click = function ($movie) {
            window.location = "/ai/movies/frames/movie_id/" + $movie.id + "/minute/0";
        };
        $scope.key_frame_click = function ($movie) {
            window.location = "/ai/movies/keyframes/movie_id/" + $movie.id;
        };
        $scope.face_frame_click = function ($movie) {
            window.location = "/ai/movies/faceframes/movie_id/" + $movie.id;
        };
        $scope.face_ssd_frame_click = function ($movie) {
            window.location = "/ai/movies/facessdframes/movie_id/" + $movie.id;
        };
        $scope.classes_click = function ($movie) {
            window.location = "/ai/classes/movie/movie_id/" + $movie.id;
        };
    });
</script>

</html>
