<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$name_en}</title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Evaluations</li>
                </ol>
            </nav>

            <div class="container-fluid">
                <div class="row alert alert-primary">
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Weights</label>
                        </div>
                        <select class="custom-select" ng-model="selected.weights">
                            <option ng-repeat="weights in data.weights" value="{{weights.id}}">{{weights.name}}</option>
                        </select>
                    </div>
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Positives</label>
                        </div>
                        <select class="custom-select" ng-model="selected.positives">
                            <option ng-repeat="movie in data.movies" value="{{movie.id}}">{{movie.name}}</option>
                        </select>
                    </div>
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Negatives</label>
                        </div>
                        <select class="custom-select" ng-model="selected.negatives">
                            <option ng-repeat="movie in data.movies" value="{{movie.id}}">{{movie.name}}</option>
                        </select>
                    </div>
                    <div class="input-group col-md-3">
                        <button class="btn btn-primary" type="button" ng-click="btn_go_click()">GO</button>
                    </div>
                </div>

                <div class="row cloak mb-4">
                    <div class="col-md-3">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center active">
                                <span class="text-center">Detect Results</span>
                                <span class="float-right">{{testing_data.testing_data.length}}</span>

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="float-left">TP (True Positive)</span>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="float-left">TN (True Negative)</span>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'True', result_b:'Negative'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="float-left">FP (False Positive)</span>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="float-left">FN (False Negative)</span>
                                <span class="float-right">{{(testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="float-left">Precision</span>
                                <span class="float-right">{{((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length))  | number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="float-left">Recall</span>
                                <span class="float-right">{{((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length)) | number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="float-left">F1</span>
                                <span class="float-right">{{ 2*(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length)))*(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length)))/((((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Positive'}).length)))+(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)/(((testing_data.testing_data|filter:{result_a:'True', result_b:'Positive'}).length)+((testing_data.testing_data|filter:{result_a:'False', result_b:'Negative'}).length)))) | number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="text-center">mAP</span>
                                <span class="float-right">{{mAP| number:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                                <small class="text-center">top-N</small>
                                <small class="float-right">Precision</small>
                                <small class="float-right">Recall</small>
                                <!--<small class="float-right">Max Precision(r'>r)</small>-->
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                ng-repeat="annotation in testing_data.testing_data">
                                <span class="float-left" ng-init="p_index=$index">{{p_index+1}}</span>
                                <span class="float-right">{{(testing_data.testing_data| limitTo: p_index+1 |filter:{result_a:'True',result_b:'Positive'}).length}}/{{p_index+1}}</span>
                                <span class="float-right">{{(testing_data.testing_data| limitTo: p_index+1 |filter:{result_a:'True',result_b:'Positive'}).length}}/{{(testing_data.testing_data| filter:{class_id: testing_data.positive_class}).length}}</span>
                                <!--<span class="float-right"></span>-->
                            </li>
                        </ul>
                    </div>


                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="annotation in testing_data.testing_data">
                                <div id="card_{{annotation.frame_id}}" class="card mb-4 box-shadow">
                                    <img id="img_{{annotation.frame_id}}" class="card-img-top"
                                         imageonload="on_image_loaded(annotation)"
                                         ng-click="movie_click(annotation.id, $index)"
                                         style="display: block;"
                                         ng-src="/projects/{{annotation.table_name}}/thumb_frame/{{annotation.filename}}">
                                    <div id="info_{{annotation.id}}" class="card-body pt-2 pl-2 pr-2 pb-2">
                                        <!-- <small class="float-left">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</small> -->
                                        <small class="btn-block">Time: {{(annotation.frame_index)*41.84 - 16*60*60*1000
                                            |
                                            date:'HH:mm:ss.sss'}}
                                        </small>
                                        <small class="btn-block">GT Class ID: {{annotation.class_id}}</small>
                                        <small class="btn-block">Detect Class ID: {{annotation.detection.class_id}}
                                        </small>
                                        <small class="btn-block">Confidence: {{annotation.detection.confidence |
                                            number:2}}
                                        </small>
                                        <small class="btn-block">IOU: {{annotation.detection.iou | number:2}}</small>
                                        <small class="btn-block">Result: {{annotation.result_a}} {{annotation.result_b}}
                                        </small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http) {
        $http.get('/ai/evaluations/get_data').success(
            function (data, status, headers, config) {
                $scope.data = data;
            }).error(function (data, status, headers, config) {
        });

        $scope.btn_go_click = function () {
            $scope.total = 0;
            $scope.mAP = null;
            $scope.testing_data = null;
            $scope.selected;
            $http.get('/ai/evaluations/get_testing_data/weights/' + $scope.selected.weights + '/positives/' + $scope.selected.positives + '/negatives/' + $scope.selected.negatives).success(
                function (data, status, headers, config) {
                    $scope.testing_data = data;
                    // $scope.show_info();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.find_detection = function ($annotation) {
            $ret = null;
            for (i = 0; i < $scope.testing_data.results.length; i++) {
                $anno = $scope.testing_data.results[i];
                var id = $anno.frame_id;
                if (id == $annotation.frame_id) {
                    $ret = $anno;
                }
            }
            return $ret;
        }

        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.frame_id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2,
                'red');

            $annotation.detection = $scope.find_detection($annotation);

            if ($annotation.detection != null) {
                $scope.draw(img_name,
                    $annotation.w,
                    $annotation.h,
                    $annotation.detection.x1,
                    $annotation.detection.y1,
                    $annotation.detection.x2,
                    $annotation.detection.y2,
                    'blue');
            }

            $scope.check_result($annotation);

        }

        $scope.check_result = function ($annotation) {

            if ($annotation.detection != null && $annotation.detection.iou > 0.5 && $scope.testing_data.positive_class == $annotation.detection.class_id) {
                if ($scope.testing_data.positive_class == $annotation.class_id) {
                    $annotation.result_a = 'True';
                    $annotation.result_b = 'Positive';
                } else {
                    $annotation.result_a = 'False';
                    $annotation.result_b = 'Positive';
                }
            } else {
                if ($scope.testing_data.positive_class == $annotation.class_id) {
                    $annotation.result_a = 'False';
                    $annotation.result_b = 'Negative';
                } else {
                    $annotation.result_a = 'True';
                    $annotation.result_b = 'Negative';
                }
            }


            $scope.total = $scope.total + 1;
            if ($scope.total == $scope.testing_data.testing_data.length) {
                $scope.cacl_map();
            }

        }

        $scope.cacl_map = function ($annotation) {
            console.log('cacl_map');
            $arr_precision = new Array();
            $arr_recall = new Array();
            $tp = 0;
            $gt_total = 0;
            for ($i = 0; $i < $scope.testing_data.testing_data.length; $i++) {
                if ($scope.testing_data.testing_data[$i].class_id == $scope.testing_data.positive_class) {
                    $gt_total = $gt_total + 1;
                }
            }

            for ($i = 0; $i < $scope.testing_data.testing_data.length; $i++) {
                if ($scope.testing_data.testing_data[$i].result_a == 'True' && $scope.testing_data.testing_data[$i].result_b == 'Positive') {
                    $tp = $tp + 1;
                }
                $arr_precision.push($tp / ($i + 1));
                $arr_recall.push($tp / $gt_total);
            }

            $recall = 0;
            $total_ap = 0
            $map_cnt = 0;

            for ($i = 0; $i < $arr_recall.length; $i++) {
                if ($arr_recall[$i] > $recall) {
                    $recall = $arr_recall[$i];
                    $map_cnt = $map_cnt + 1;
                    $total_ap = $total_ap + $scope.get_max_percision($arr_precision, $i);
                }
            }

            $scope.mAP = $total_ap / $map_cnt;

        };

        $scope.get_max_percision = function ($arr_precision, $offset) {
            $ret = 0;
            for ($j = $offset; $j < $arr_precision.length; $j++) {
                if ($arr_precision[$j] > $ret) {
                    $ret = $arr_precision[$j];
                }
            }
            return $ret;
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2, $color) {

            var img = document.getElementById('card_' + $name);
            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            canvas.style.width = width;
            canvas.style.height = height;
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = $color;
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width-1, height-1);
            context.strokeRect(cx, cy, cw-1, ch-1);
        }
    });
</script>

</html>
