<div class="row mt-4 ml-0 mr-0 mb-0">
  <div class="col-md-6">
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Class Name</h6>
        </div>
        <select ng-model="annotation.class_id" ng-change="chenge()">
            <option ng-repeat="cls in modal_data.classes" value="{{cls.id}}" ng-bind="cls.name"></option>
          </select>
        <!-- <span class="text-muted">{$class_name}</span> -->
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Movie Name</h6>
        </div>
        <span class="text-muted" ng-bind="annotation.movie_name"></span>
      </li>
    </ul>
  </div>

  <div class="col-md-3">
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">x1</h6>
        </div>
        <span id="x1" class="text-muted" ng-bind="annotation.x1"></span>
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">y1</h6>
        </div>
        <span id="y1" class="text-muted" ng-bind="annotation.y1"></span>
      </li>
    </ul>
  </div>

  <div class="col-md-3">
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">x2</h6>
        </div>
        <span id="x2" class="text-muted" ng-bind="annotation.x2"></span>
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">y2</h6>
        </div>
        <span id="y2" class="text-muted" ng-bind="annotation.y2"></span>
      </li>
    </ul>
  </div>

</div>
