<div class="modal fade" id="frameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">[modal_title] ({{data.length}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="card mb-4 box-shadow">
              <img id="photo" class="card-img-top" style="display: block;" img-area-select
                   ng-src="/projects/{{modal_edit_annotation.table_name}}/thumb_frame/{{modal_edit_annotation.filename}}"
                   imageonload="image_onload()">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a ng-repeat="annotation in modal_data.annotation" ng-class="{'active': $first}" class="nav-item nav-link" id="{{annotation.id}}" data-toggle="tab" href="#nav-{{annotation.id}}" role="tab" aria-controls="nav-{{annotation.id}}" aria-selected="true">{{annotation.class_name}}  <span class = "badge badge-danger" ng-show="annotation.id == -1">new</span></a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div ng-repeat="annotation in modal_data.annotation" ng-class="{'show active': $first}" class="tab-pane fade" id="nav-{{annotation.id}}" role="tabpanel" aria-labelledby="nav-{{annotation.id}}-tab">
                  <include file="Public:annotation_value" />
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--<button id="delete" type="button" class="btn btn-danger" ng-click="delete_click()">Delete</button>-->
        <button type="button" class="btn btn-primary" ng-click="save_click()">Save</button>
        <button type="button" class="btn btn-secondary" ng-click="cancel_click()">Cancel</button>
      </div>
    </div>
  </div>
</div>
