<div class="modal fade" id="addAnnotationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">[modal_title] ({{(data|filter:{round:-2}).length
                    }}/{{data.length}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p class="text-center text-primary">{{new_annotation_data.data.filename}}&nbsp;&nbsp;&nbsp;&nbsp;{{(new_annotation_data.data.frame_index)*41.84
                            - 16*60*60*1000 | date:'HH:mm:ss.sss'}}&nbsp;&nbsp;&nbsp;&nbsp;{{new_annotation_data.data.confidence}}</p>
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="display: block;" img-area-select
                                 ng-src="/projects/{{new_annotation_data.data.table_name}}/thumb_frame/{{new_annotation_data.data.filename}}"
                                 >
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" style="display: block;" img-area-select
                                     ng-src="/projects/{{new_annotation_data.prev.table_name}}/thumb_frame/{{new_annotation_data.prev.filename}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" style="display: block;" img-area-select
                                     ng-src="/projects/{{new_annotation_data.next.table_name}}/thumb_frame/{{new_annotation_data.next.filename}}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-12 text-center">
                            <button type="button" class="col-md-3 btn btn-danger " ng-click="new_annotation_save_click()">Save</button>
                            <button type="button" class="col-md-3 btn btn-primary " ng-click="new_annotation_reload_click()">Reload</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a ng-repeat="annotation in modal_data.annotation" ng-class="{'active': $first}"
                                       class="nav-item nav-link" id="{{annotation.id}}" data-toggle="tab"
                                       href="#nav-{{annotation.id}}" role="tab" aria-controls="nav-{{annotation.id}}"
                                       aria-selected="true">{{annotation.class_name}} <span class="badge badge-danger"
                                                                                            ng-show="annotation.id == -1">new</span></a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div ng-repeat="annotation in modal_data.annotation" ng-class="{'show active': $first}"
                                     class="tab-pane fade" id="nav-{{annotation.id}}" role="tabpanel"
                                     aria-labelledby="nav-{{annotation.id}}-tab">
                                    <include file="Public:annotation_value"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="ok_click()">OK</button>
            </div>
        </div>
    </div>
</div>
