<div class="modal fade" id="frameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row cloak">
          <div class="col-md-3" ng-repeat="frame in modal.frames">
            <div id="frame.filename" class="card mb-4 box-shadow">
              <img class="card-img-top" style="display: block;"
              ng-src="{{modal.image_path}}{{frame.filename}}"
              ng-click="frame_click(frame)" >
              <!-- <div class="card-body pt-2 pl-2 pr-2 pb-1">
                <span class="float-left badge badge-secondary">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
              </div> -->
              <!-- <div class="card-body pt-0 pl-2 pr-2 pb-2">
                <small ng-bind="frame.filename"></small>
              </div> -->
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancel_click()">OK</button>
      </div>
    </div>
  </div>
</div>
