<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script>
    var model_id = '{$model_id}';
    var model_name = '{$model_name}';
</script>
<body data-gr-c-s-loaded="true">
<include file="Public:navi" />
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar" />
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"  ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai/models">Models</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{$model_name}</li>
                </ol>
            </nav>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Class Name</th>
                    <th scope="col">Movie Name</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="class in data">
                    <th scope="row" ng-init="p_index=$index">{{p_index+1}}</th>
                    <td><h6>{{class.class_name}}</h6></td>
                    <td>{{class.movie_name}}</td>
                    <td><button type="button" class="btn btn-primary btn-sm" ng-click="show_detail_click(class)">Classes</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </main>
    </div>
</div>
<script>
    var app = angular.module('app', []);
    app.controller('controller', function ($scope, $http) {
        $http.get('/ai/models/get_classes/model_id/' + model_id).success(
            function (data, status, headers, config) {
                $scope.data = data;
            }).error(function (data, status, headers, config) {
        });
        $scope.show_detail_click = function ($class) {
            window.location = "/ai/models/results/model_id/" + model_id +
            "/movie_id/" + $class.movie_id +
            "/class_id/" + $class.class_id;


            // $frame.gt = $frame.gt==1?0:1;
        };
    });
</script>
</body>


</html>
