<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script>
    var model_id = '{$model_id}';
</script>
<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai/models">Models</a></li>
                    <li class="breadcrumb-item" aria-current="page">{$model_name}</li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Select ({{(data|filter:{m_id:model_id}).length }})</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Class Image</th>
                    <th scope="col">Class Name</th>
                    <th scope="col">Movie Image</th>
                    <th scope="col">Movie_Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="class in data">
                    <th scope="row" ng-init="p_index=$index">{{class.class_id}}</th>
                    <td class="text-center"><input type="checkbox" class="form-check-input"
                                                   ng-model="class.m_id == {$model_id}" ng-click="check_click(class)">
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="detail_click(class)">Detail
                        </button>
                    </td>
                    <td>
                        <img class="card-img" style="width: 200px;display: block;"
                             ng-src="http://192.168.1.55/projects/{{class.table_name}}/thumb_frame/{{class.image}}">
                    </td>
                    <td><h6>{{class.class_name}}</h6></td>
                    <td>{{class.movie_id}}-{{class.movie_name}}</td>
                    <td>
                        <img class="card-img" style="width: 100px;display: block;"
                             ng-src="{{class.movie_image}}" ng-click="classes_click(class)">
                    </td>
                </tr>
                </tbody>
            </table>

        </main>
    </div>
</div>
<script>
    var app = angular.module('app', []);
    app.controller('controller', function ($scope, $http) {
        $scope.model_id = model_id;
        $http.get('/ai/models/get_edit/model_id/' + model_id).success(
            function (data, status, headers, config) {
                $scope.data = data;
            }).error(function (data, status, headers, config) {
        });
        $scope.detail_click = function ($class) {
            window.location = "/ai/models/detail/model_id/" + model_id + "/class_id/" + $class.class_id;
        };
        $scope.check_click = function ($class) {
            if ($class.m_id == model_id) {
                $class.m_id = 0;
                $http.get('/ai/models/del_classes/model_id/' + model_id + '/class_id/' + $class.class_id).success(
                    function (data, status, headers, config) {
                    }).error(function (data, status, headers, config) {
                });
            }
            else {
                $class.m_id = model_id;
                $http.get('/ai/models/add_classes/model_id/' + model_id + '/class_id/' + $class.class_id).success(
                    function (data, status, headers, config) {
                    }).error(function (data, status, headers, config) {
                });
            }

        };
    });
</script>
</body>


</html>
