<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$name_en}</title>
  <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script>
    var movie_id = '{$movie_id}';
    var weights_id = '{$weights_id}';
    var minute = '{$minute}';
    var confidence = '{$confidence}';
</script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi" />
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <include file="Public:sidebar" />
    </nav>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                <li class="breadcrumb-item"><a href="/ai/models">Models</a></li>
                <li class="breadcrumb-item"><a href="/ai/models">Weights</a></li>
                <li class="breadcrumb-item"><a href="/ai/models">{$weights_name}</a></li>
                <li class="breadcrumb-item"><a href="/ai/models">{$movie_name}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Results</li>
            </ol>
        </nav>

        <select class="form-control float-right mr-3>" id="exampleFormControlSelect1" style="width: 80px" ng-model="confidence"
                ng-change="change_confident()">
            <option ng-selected="confidence == 0.2">0.2</option>
            <option ng-selected="confidence == 0.3">0.3</option>
            <option ng-selected="confidence == 0.4">0.4</option>
            <option ng-selected="confidence == 0.5">0.5</option>
            <option ng-selected="confidence == 0.6">0.6</option>
            <option ng-selected="confidence == 0.7">0.7</option>
            <option ng-selected="confidence == 0.8">0.8</option>
            <option ng-selected="confidence == 0.9">0.9</option>
        </select>

      <div class="container-fluid">

        <div class="row" ng-show="loadsuccess">
          <div class="col-md-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link" href="{{page.link}}">{{page.name}}</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="row cloak" ng-show="loadsuccess">
            <div class="col-md-3" ng-repeat="result in data.frames">
                <div id="card_{{result.frame_id}}" class="card mb-4 box-shadow">
                    <img id="img_{{result.frame_id}}" class="card-img-top" imageonload="on_image_loaded(result)" style="display: block;" ng-src="{{data.image_path}}{{result.filename}}">
                    <div id="info_{{result.frame_id}}" class="card-body pt-2 pl-2 pr-2 pb-2 bg-primary">
                        <!-- <small class="float-left">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</small> -->
                        <span class="float-left badge badge-primary">{{result.frame_id}}</span>
                        <span class="float-right badge badge-primary">{{result.class_index}} - {{result.confidence}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="loadsuccess">
          <div class="col-md-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link" href="{{page.link}}">{{page.name}}</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

</body>
<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function() {
        return {
            restrict: 'A',
            link: function(scope, element, attrs) {
                element.bind('load', function() {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function($scope, $http) {
        $scope.loadsuccess = false;
        $http.get('/ai/models/get_results_frames/weights_id/' + weights_id + '/movie_id/' + movie_id  + '/confidence/' + confidence + '/minute/' + minute).success(
            function(data, status, headers, config) {
                $scope.data = data;
                $scope.confidence = confidence;
                $scope.loadsuccess = true;
            }).error(function(data, status, headers, config) {});

        $scope.on_image_loaded = function($result) {
            console.log($result.frame_id + ': x1=' + $result.x1);
            var id = $result.frame_id;
            var img_name = '' + id;
            $scope.draw($result);
        };

        $scope.draw = function($result) {

            var color = new Array('red', 'blue', 'pink', 'plum', 'yellow', 'wheat', 'tomato', 'violet', 'peru');

            var img = document.getElementById('card_' + $result.frame_id);
            var width = $('#img_' + $result.frame_id).width();
            var height = $('#img_' + $result.frame_id).height();
            var offsetx = 10;
            var offsety = 34;

            var cx = $result.x1 * (width - offsetx) / $result.w;
            var cy = $result.y1 * (height - offsety) / $result.h;
            var cw = ($result.x2 - $result.x1) * (width - offsetx) / $result.w;
            var ch = ($result.y2 - $result.y1) * (height - offsety) / $result.h;

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = color[$result.class_index];
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height);
            context.strokeRect(cx, cy, cw, ch);
        };

        $scope.change_confident = function () {
            window.location = "/ai/models/results_frames/movie_id/" + movie_id + "/weights_id/" + weights_id + "/minute/" + 0 + '/confidence/' + $scope.confidence;
        }
    });
</script>

</html>
