<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script>
    var model_id = '{$model_id}';
    var movie_id = '{$movie_id}';
    var class_id = '{$class_id}';
    var confidence = '{$confidence}';
    var minute = '{$minute}';
</script>
<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai/models">Model</a></li>
                    <li class="breadcrumb-item"><a href="/ai/models">{$model_name}</a></li>
                    <li class="breadcrumb-item"><a href="/ai/models">{$class_name}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Frames ({{data.count}})</li>
                </ol>
            </nav>


            <select class="form-control float-right mr-3>" id="exampleFormControlSelect1" style="width: 80px" ng-model="confidence"
                    ng-change="change_confident()">
                <option ng-selected="confidence == 0.2">0.2</option>
                <option ng-selected="confidence == 0.3">0.3</option>
                <option ng-selected="confidence == 0.4">0.4</option>
                <option ng-selected="confidence == 0.5">0.5</option>
                <option ng-selected="confidence == 0.6">0.6</option>
                <option ng-selected="confidence == 0.7">0.7</option>
                <option ng-selected="confidence == 0.8">0.8</option>
                <option ng-selected="confidence == 0.9">0.9</option>
            </select>

            <div class="container-fluid">

                <div class="row" ng-show="loadsuccess">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li ng-repeat="page in data.pages" class="{{page.class}}">
                                    <a class="page-link" href="{{page.link}}">{{page.name}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row cloak" ng-show="loadsuccess">
                    <div class="col-md-3" ng-repeat="frame in data.frames">

                        <div id="card_{{frame.id}}" class="card mb-4 box-shadow">
                            <img id="img_{{frame.id}}" class="card-img-top" imageonload="on_image_loaded(frame)"
                                 ng-click="movie_click(annotation.filename, annotation.filepath)"
                                 style="display: block;" ng-src="{{data.image_path}}{{frame.filename}}">
                            <div id="info_{{frame.id}}" class="card-body pt-2 pl-2 pr-2 pb-2 bg-primary">
                                <!--<small class="float-left badge badge-primary">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</small>-->
                                <span class="float-right badge badge-primary">{{frame.confidence}}</span>
                                <small class="float-left  badge badge-primary">{{frame.id}}</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="loadsuccess">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link"
                                                                                             href="{{page.link}}">{{page.name}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>

        </main>
    </div>
</div>
<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http, $timeout) {
        $scope.loadsuccess = false;
        $http.get('/ai/models/get_results/model_id/' + model_id + '/movie_id/' + movie_id + '/class_id/' + class_id +  '/confidence/' + confidence + '/minute/' + minute).success(
            function (data, status, headers, config) {
                $scope.data = data;
                $scope.confidence = confidence;
                $scope.loadsuccess = true;
                // $scope.draw_rect();
            }).error(function (data, status, headers, config) {
        });

        $scope.on_image_loaded = function ($frame) {
            if ($frame.confidence != null) {
                // console.log($frame.id + ': x1=' + $frame.x1);
                var id = $frame.id;
                var img_name = '' + id;
                $scope.draw(img_name,
                    $scope.data.w,
                    $scope.data.h,
                    $frame.x1,
                    $frame.y1,
                    $frame.x2,
                    $frame.y2);
            }
        }

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);
            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();
            console.log('w:' + width + ' h:' + height);
            var offsetx = 10;
            var offsety = 34;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'red';
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height);
            context.strokeRect(cx, cy, cw, ch);
        }

        $scope.draw_rect = function () {
            var timer = $timeout(function () {
                for (var i = 0; i < $scope.data.frames.length; i++) {
                    var id = $scope.data.frames[i].id;
                    var img_name = '' + id;
                    $scope.draw(img_name,
                        $scope.data.w,
                        $scope.data.h,
                        $scope.data.frames[i].x1,
                        $scope.data.frames[i].y1,
                        $scope.data.frames[i].x2,
                        $scope.data.frames[i].y2);
                }
            }, 3000, true);

        }

        $scope.change_confident = function () {
            window.location.href = '/ai/models/results/model_id/' + model_id + '/movie_id/' + movie_id + '/class_id/' + class_id +  '/confidence/' + $scope.confidence;
        }

    });
</script>
</body>


</html>
