<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
    <link href="/ai/css/c3.min.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script src="/ai/js/d3.v4.min.js" charset="utf-8"></script>
<script src="/ai/js/c3.min.js"></script>
<script>
    var model_id = '{$model_id}';
    var model_name = '{$model_name}';
    var weights_id = '{$weights_id}';
    var class_id = '{$class_id}';
</script>
<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai">Reports List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Threshold</li>
                </ol>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center active">
                                <span class="text-center">{$model_name}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                ng-repeat="item in data">
                                <span class="float-left" ng-init="p_index=$index">{{(p_index+2)*0.1|number:1}}</span>
                                <span class="float-right">{{item}}</span>
                                <span class="float-right">{{item/data[0]|percentage:2}}</span>
                            </li>
                            <li class="list-group-item" style="padding-left: 0px; padding-bottom: 0px; padding-top: 20px; padding-right: 20px">
                                <div style="width: 100%" ng-init="p_index=$index" id="mychart{{p_index}}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    var app = angular.module('app', []);
    app.filter('percentage', ['$filter', function ($filter) {
        return function (input, decimals) {
            return $filter('number')(input * 100, decimals) + ' %';
        };
    }]);
    app.controller('controller', function ($scope, $http, $timeout) {
        $http.get('/ai/models/get_threshold/model_id/' + model_id + '/weights_id/' + weights_id + '/class_id=0').success(
            function (data, status, headers, config) {
                $scope.data = data;
                // $scope.get_reports();
            }).error(function (data, status, headers, config) {
        });
    });

</script>
</body>

</html>
