<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$name_en}</title>
<link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/ai/css/imgareaselect-animated.css">
<link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script type="text/javascript" src="/ai/js/jquery.imgareaselect.dev.js"></script>
<script>
var class_id = '{$class_id}';
var filename = '{$filename}';
var class_name = '{$class_name}';
var movie_name = '{$movie_name}';
var movie_id = '{movie_id}';
var w = '{$w}';
var h = '{$h}';
</script>
<body data-gr-c-s-loaded="true">
  <include file="Public:navi" />
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <include file="Public:sidebar" />
        </nav>

        <main role="main" class="ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Edit Annotation</h1>
            <!-- <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
              </button>
            </div> -->
          </div>

          <!-- <canvas class="my-4 chartjs-render-monitor" id="myChart" width="2304" height="972" style="display: block; height: 486px; width: 1152px;"></canvas> -->
          <div class="table-responsive">
            <div class="container" ng-app="app" ng-controller="controller">
          		<div class="row cloak" ng-show="loadsuccess">
                <div class="col-md-4">
                  <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">Class Name</h6>
                      </div>
                      <span class="text-muted">{$class_name}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">Movie Name</h6>
                      </div>
                      <span class="text-muted">{$movie_name}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">File Name</h6>
                      </div>
                      <span class="text-muted">{$filename}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">x1</h6>
                      </div>
                      <span id="x1" class="text-muted"></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">y1</h6>
                      </div>
                      <span id="y1" class="text-muted"></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">x2</h6>
                      </div>
                      <span id="x2" class="text-muted"></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">y2</h6>
                      </div>
                      <span id="y2" class="text-muted"></span>
                    </li>
                  </ul>

                  <button type="button" class="btn btn-primary btn-block" ng-click="save()">Save</button>
                  <button type="button" class="btn btn-secondary btn-block" onClick="window.history.go(-1);">Cancel</button>

                </div>
          			<div class="col-md-8">
          				<div class="mb-4 box-shadow">
          					<img id="photo" style="display: block;" src="{$image_path}{$filename}">
          				</div>
          			</div>

          		</div>
          	</div>
          </div>
        </main>
      </div>
    </div>

</body>

<script type="text/javascript">
function preview(img, selection) {
    if (!selection.width || !selection.height)
        return;

    var scaleX = 100 / selection.width;
    var scaleY = 100 / selection.height;

    $('#preview img').css({
        width: Math.round(scaleX * 300),
        height: Math.round(scaleY * 300),
        marginLeft: -Math.round(scaleX * selection.x1),
        marginTop: -Math.round(scaleY * selection.y1)
    });

    $('#x1').text(selection.x1);
    $('#y1').text(selection.y1);
    $('#x2').text(selection.x2);
    $('#y2').text(selection.y2);
}

setTimeout(loadImage,500);

function loadImage(){
  var area = {
    handles: true,
    fadeSpeed: 200,
    onSelectChange: preview,
    x1: parseInt($('#x1').text()),
    y1: parseInt($('#y1').text()),
    x2: parseInt($('#x2').text()),
    y2: parseInt($('#y2').text())
  };
  $('#photo').imgAreaSelect(area);
}
</script>

<script>
var app = angular.module('app', []);
app.controller('controller', function($scope, $http) {
  $scope.loadsuccess = true;
  $scope.save = function(){
    var $data = {};
    $data.filename = filename;
    $data.class_id = class_id;
    $data.movie_id = movie_id;
    $data.w = w;
    $data.h = h;
    $data.x1 = parseInt($('#x1').text());
    $data.y1 = parseInt($('#y1').text());
    $data.x2 = parseInt($('#x2').text());
    $data.y2 = parseInt($('#y2').text());
    $http({
      method:'post',
      url:'/ai/annotation/save',
      data: $data
    }).success(function(req){
      window.history.go(-1);
    })
  };
});
</script>
</html>
