<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$name_en}</title>
<link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/ai/css/imgareaselect-animated.css">
<link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script type="text/javascript" src="/ai/js/jquery.imgareaselect.dev.js"></script>
<script>
var class_id = '{$class_id}';
var minute = '{$minute}';
var filename = '{$filename}';
var class_name = '{$class_name}';
var movie_name = '{$movie_name}';
var movie_id = '{$movie_id}';
var w = '{$w}';
var h = '{$h}';
</script>
<body data-gr-c-s-loaded="true">
  <include file="Public:navi" />
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <include file="Public:sidebar" />
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">

          <div class="modal fade" id="frameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New annotation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
          						<div class="card mb-4 box-shadow">
          							<img id="photo" class="card-img-top" style="display: block;" ng-src="{{edit_image_url}}">
          						</div>
                    </div>
          					<div class="row">

                      <div class="col-md-6">
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">Class Name</h6>
                            </div>
                              <select ng-model="selected_class_id" ng-change="chenge()">
                                <option ng-repeat="cls in data.classes" value="{{cls.id}}" ng-bind="cls.name"></option>
                              </select>
                            <!-- <span class="text-muted">{$class_name}</span> -->
                          </li>

                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">Movie Name</h6>
                            </div>
                            <span class="text-muted">{$movie_name}</span>
                          </li>
                        </ul>
                      </div>

                      <div class="col-md-3">
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">x1</h6>
                            </div>
                            <span id="x1" class="text-muted"></span>
                          </li>

                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">y1</h6>
                            </div>
                            <span id="y1" class="text-muted"></span>
                          </li>
                        </ul>
                      </div>

                      <div class="col-md-3">
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">x2</h6>
                            </div>
                            <span id="x2" class="text-muted"></span>
                          </li>

                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">y2</h6>
                            </div>
                            <span id="y2" class="text-muted"></span>
                          </li>
                        </ul>
                      </div>


          					</div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-click="save_click()">Save</button>
                  <button type="button" class="btn btn-secondary" ng-click="cancel_click()">Cancel</button>
                </div>
              </div>
            </div>
          </div>


          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Add annotation</h1>
            <span class="badge badge-primary">Minute : {$minute}</span>
          </div>

          <div class="table-responsive">
            <div class="container">
              <div class="row" ng-show="loadsuccess">
                <div class="col-md-12">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pt-2">
                      <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link" href="{{page.link}}">{{page.name}}</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
          		<div class="row cloak" ng-show="loadsuccess">
          			<div class="col-md-3" ng-repeat="frame in data.frames">
          				<div id="frame.filename" class="card mb-4 box-shadow">
          					<img class="card-img-top" style="display: block;" ng-src="{{data.image_path}}{{frame.filename}}" ng-click="img_click(frame)">
          					<div class="card-body pt-2 pl-2 pr-2 pb-2">
                      <span class="float-left badge badge-secondary">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
          						<!-- <small class="float-right">{{frame.filename}}</small> -->
          					</div>
          				</div>
          			</div>
          		</div>
              <div class="row" ng-show="loadsuccess">
                <div class="col-md-12">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link" href="{{page.link}}">{{page.name}}</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
          	</div>
          </div>
        </main>
      </div>
    </div>

</body>

<script type="text/javascript">
function preview(img, selection) {
    if (!selection.width || !selection.height)
        return;

    var scaleX = 100 / selection.width;
    var scaleY = 100 / selection.height;

    $('#preview img').css({
        width: Math.round(scaleX * 300),
        height: Math.round(scaleY * 300),
        marginLeft: -Math.round(scaleX * selection.x1),
        marginTop: -Math.round(scaleY * selection.y1)
    });

    $('#x1').text(selection.x1);
    $('#y1').text(selection.y1);
    $('#x2').text(selection.x2);
    $('#y2').text(selection.y2);
}

setTimeout(loadImage,500);

function loadImage(){
  var area = {
    handles: true,
    parent: '.modal-content',
    fadeSpeed: 200,
    onSelectChange: preview
  };
  $('#photo').imgAreaSelect(area);
}
</script>

<script>
var app = angular.module('app', []);
app.controller('controller', function($scope, $http) {
  $scope.loadsuccess = false;
  $scope.selected_class_id = class_id;
  $http.get('/ai/annotation/getframes/class_id/' + class_id + '/minute/' + minute).success(
			function(data, status, headers, config) {
				$scope.data = data;
				$scope.loadsuccess = true;
			}).error(function(data, status, headers, config) {
	});

  $scope.img_click = function($frame){
    $scope.edit_image_url = $scope.data.image_path + $frame.filename;
    $scope.edit_filename = $frame.filename;
    $('#frameModal').modal({
        backdrop: 'static',
        keyboard: false,
        'data-keyboard': false
    });
    //window.location.href = '/ai/annotation/add/class_id/' + class_id + '/movie_id/' + movie_id + '/filename/' + $frame['filename'];
  };

  $scope.cancel_click = function($frame){
    $('#frameModal').modal('hide')
  };

  $scope.save_click = function(){
    var $data = {};
    $data.filename = $scope.edit_filename;
    $data.class_id = $scope.selected_class_id;
    $data.movie_id = movie_id;
    $data.w = w;
    $data.h = h;
    $data.x1 = parseInt($('#x1').text());
    $data.y1 = parseInt($('#y1').text());
    $data.x2 = parseInt($('#x2').text());
    $data.y2 = parseInt($('#y2').text());
    $http({
      method:'post',
      url:'/ai/annotation/save',
      data: $data
    }).success(function(req){
      $('#frameModal').modal('hide')
    })
  };

});
</script>
</html>
