<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$name_en}</title>
  <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/ai/css/imgareaselect-animated.css">
  <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script type="text/javascript" src="/ai/js/jquery.imgareaselect.js"></script>
<script>
  var class_id = '{$class_id}';
  var minute = '{$minute}';
  var filename = '{$filename}';
  var class_name = '{$class_name}';
  var movie_name = '{$movie_name}';
  var movie_id = '{$movie_id}';
  var w = '{$w}';
  var h = '{$h}';
</script>

<body data-gr-c-s-loaded="true">
  <include file="Public:navi" />
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <include file="Public:sidebar" />
      </nav>

      <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">

        <include file="Public:image_annotation_modal" modal_title="Create annotation" />

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Add annotation to <span class="badge badge-primary">{$class_name}</span></h1>
        </div>

        <div class="table-responsive">
          <div class="container">
            <div class="row cloak" ng-show="loadsuccess">
              <div class="col-md-3" ng-repeat="frame in data.frames">
                <div id="card_{{frame.id}}" class="card mb-4 box-shadow">
                  <img id="img_{{frame.id}}" class="card-img-top" imageonload="on_image_loaded(frame)"  ng-click="movie_click(frame.id)" style="display: block;" ng-src="{{data.thumb_path}}{{frame.filename}}">
                  <div class="card-body pt-2 pl-2 pr-2 pb-2 bg-primary" ng-show="frame.annotation">
                    <span class="float-left badge badge-primary">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
                    <!-- <small class="float-right">{{frame.filename}}</small> -->
                  </div>
                  <div class="card-body pt-2 pl-2 pr-2 pb-2 bg-secondary" ng-show="!frame.annotation">
                    <span class="float-left badge badge-secondary">{{frame.time - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
                    <!-- <small class="float-right">{{frame.filename}}</small> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>

<script>
  $('#frameModal').on('hide.bs.modal', function() {
    var ias = $('#photo').imgAreaSelect({
      instance: true
    });
    ias.cancelSelection();
  })

  var app = angular.module('app', []);

  // app.directive('imageonload', function() {
  //     return {
  //         restrict: 'A',
  //         link: function(scope, element, attrs) {
  //             element.bind('load', function() {
  //                 scope.$apply(attrs.imageonload);
  //             });
  //         }
  //     };
  // });

  app.controller('controller', function($scope, $http, $timeout) {
    $scope.loadsuccess = false;
    $scope.selected_class_id = class_id;

    $scope.fetch_data = function() {
      $http.get('/ai/annotation/getkeyframes/class_id/' + class_id).success(
        function(data, status, headers, config) {
          $scope.data = data;
          $scope.loadsuccess = true;
          $scope.refresh_annotation();
        }).error(function(data, status, headers, config) {});
    };

    $scope.on_image_loaded = function(frame) {
      // console.log($annotation.id + ': x1=' + $annotation.x1);
      var id = frame.id;
      var img_name = '' + id;
      $scope.draw(img_name,
          frame.w,
          frame.h,
          frame.x1,
          frame.y1,
          frame.x2,
          frame.y2);
    };

    $scope.refresh_annotation = function() {
      $http.get('/ai/annotation/get_annotation_list/class_id/' + class_id).success(
        function(data, status, headers, config) {
          for (var i = 0; i < $scope.data.frames.length; i++) {
            $scope.data.frames[i]['annotation'] = false;
          }
          for (var i = 0; i < data.length; i++) {
            for (var j = 0; j < $scope.data.frames.length; j++) {
              if (data[i]['filename'] == $scope.data.frames[j]['filename']){
                $scope.data.frames[j]['annotation'] = true;
                break;
              }
            }
          }
        }).error(function(data, status, headers, config) {});
    }



    $scope.fetch_data();

    $scope.new_annotation = function($class_id, $frame_id, $filename) {
      $http.get('/ai/annotation/new_annotation/class_id/' + $class_id + '/frame_id/' + $frame_id + '/filename/' + $filename).success(
        function(data, status, headers, config) {
          $scope.modal_data.annotation.push(data);
          $scope.modal_edit_annotation = $scope.modal_data.annotation[0];
          $scope.draw_selection();
        }).error(function(data, status, headers, config) {});
    }

    $scope.preview = function(img, selection) {
      if (!selection.width || !selection.height)
        return;
      $scope.selection = selection;
      $('#photo').data('selection', selection);
      $scope.modal_edit_annotation.x1 = selection.x1;
      $scope.modal_edit_annotation.y1 = selection.y1;
      $scope.modal_edit_annotation.x2 = selection.x2;
      $scope.modal_edit_annotation.y2 = selection.y2;
      $scope.$apply();
    };

    $scope.draw_area = function() {
      if ($scope.modal_edit_annotation.x1 == 0 && $scope.modal_edit_annotation.y1 == 0 &&
        $scope.modal_edit_annotation.x2 == 0 && $scope.modal_edit_annotation.y2 == 0) {
        $('#photo').imgAreaSelect({
          handles: true,
          fadeSpeed: 200,
          parent: '.modal-content',
          show: false,
          onSelectChange: $scope.preview,
        });
      } else {
        $('#photo').imgAreaSelect({
          handles: true,
          fadeSpeed: 200,
          persistent: true,
          parent: '.modal-content',
          show: true,
          onSelectChange: $scope.preview,
          x1: parseInt($scope.modal_edit_annotation.x1),
          y1: parseInt($scope.modal_edit_annotation.y1),
          x2: parseInt($scope.modal_edit_annotation.x2),
          y2: parseInt($scope.modal_edit_annotation.y2)
        });
      }
    }

    $scope.draw_selection = function() {
      var timer = $timeout(function() {
        $scope.draw_area();
        $('.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
          $id = $(e.target).attr('id');
          console.log($id);
          for (var i = 0; i < $scope.modal_data.annotation.length; i++) {
            if ($scope.modal_data.annotation[i].id == $id) {
              $scope.modal_edit_annotation = $scope.modal_data.annotation[i];
              $scope.draw_area();
            }
          }
        })

      }, 1000, true);
    };

    $scope.get_annotation_cnt = function() {
        $ret = 0;
        for (var j = 0; j < $scope.data.frames.length; j++) {
            if ($scope.data.frames[j]['annotation'] == true){
                $ret = $ret + 1;
            }
        }
        return $ret;
    }

    $scope.movie_click = function($id) {
      $http.get('/ai/annotation/get_edit_frame/id/' + $id).success(
        function(data, status, headers, config) {
          $scope.modal_filepath = $scope.data['image_path'] + data.frame['filename'];
          $scope.modal_data = data;
          $scope.new_annotation(class_id, data.frame['id'], data.frame['filename']);
          $scope.annotation_cnt = $scope.get_annotation_cnt();
          $('#frameModal').modal({
              backdrop: 'static',
              keyboard: false,
              'data-keyboard': false
          });
          $('#delete').hide();
          $scope.draw_selection();
        }).error(function(data, status, headers, config) {});

    };

    $scope.cancel_click = function($frame) {
        $('#frameModal').modal('hide');
    };

    $scope.save_click = function() {
      $http({
        method: 'post',
        url: '/ai/annotation/save',
        data: $scope.modal_data.annotation
      }).success(function(req) {
        $('#frameModal').modal('hide')
        $scope.refresh_annotation();
        //$scope.fetch_data();
      })
    };

  });
</script>

</html>
