<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$name_en}</title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/ai/css/imgareaselect-animated.css">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script type="text/javascript" src="/ai/js/jquery.imgareaselect.js"></script>

<script>
    var movie_id = '{$movie_id}';
    var class_id = '{$class_id}';
</script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai/classes">Classes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{$name}</li>
                </ol>
            </nav>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">{$name} ({{data.length}})</h1>
                <p class="float-right">
                    <button class="btn btn-danger" ng-click="btn_add_click({$class_id})">Add New (+1)</button>
                    <button class="btn btn-success" ng-click="btn_add_keyframe_click({$class_id})">Add From Keyframe
                    </button>
                </p>
            </div>

            <include file="Public:image_annotation_modal" modal_title="Edit annotation"/>

            <div class="container-fluid">
                <div class="row cloak" ng-show="loadsuccess">
                    <div class="col-md-4">
                        <div id="card_{{new_annotation_data.prev.id}}" class="card mb-4 box-shadow">
                            <img id="img_{{new_annotation_data.prev.id}}" class="card-img-top"
                                 imageonload="on_image_loaded(new_annotation_data.prev)"
                                 ng-click="movie_click(new_annotation_data.prev)" style="display: block;"
                                 ng-src="/projects/{{new_annotation_data.prev.table_name}}/thumb_frame/{{new_annotation_data.prev.filename}}">
                            <div id="info_{{new_annotation_data.prev.id}}"
                                 class="card-body pt-2 pl-2 pr-2 pb-2 bg-secondary">
                                <span class="float-left badge badge-secondary">{{(new_annotation_data.prev.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="card_{{new_annotation_data.data.id}}" class="card mb-4 box-shadow">
                            <img id="img_{{new_annotation_data.data.id}}" class="card-img-top"
                                 imageonload="on_image_loaded(annotation)" ng-click="movie_click(annotation)"
                                 style="display: block;"
                                 ng-src="/projects/{{new_annotation_data.prev.table_name}}/thumb_frame/{{new_annotation_data.data.filename}}">
                            <div id="info_{{new_annotation_data.data.id}}"
                                 class="card-body pt-2 pl-2 pr-2 pb-2 bg-danger">
                                <span class="float-left badge badge-danger">{{(new_annotation_data.data.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="card_{{new_annotation_data.next.id}}" class="card mb-4 box-shadow">
                            <img id="img_{{new_annotation_data.next.id}}" class="card-img-top"
                                 imageonload="on_image_loaded(new_annotation_data.next)"
                                 ng-click="movie_click(new_annotation_data.next)" style="display: block;"
                                 ng-src="/projects/{{new_annotation_data.next.table_name}}/thumb_frame/{{new_annotation_data.next.filename}}">
                            <div id="info_{{new_annotation_data.next.id}}"
                                 class="card-body pt-2 pl-2 pr-2 pb-2 bg-secondary">
                                <span class="float-left badge badge-secondary">{{(new_annotation_data.next.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row cloak" ng-show="loadsuccess">
                    <div class="col-md-3" ng-repeat="annotation in data">
                        <div id="card_{{annotation.id}}" class="card mb-4 box-shadow">
                            <img id="img_{{annotation.id}}" class="card-img-top"
                                 imageonload="on_image_loaded(annotation)" ng-click="movie_click(annotation)"
                                 style="display: block;"
                                 ng-src="/projects/{{annotation.table_name}}/thumb_frame/{{annotation.filename}}">
                            <div id="info_{{annotation.id}}" class="card-body pt-2 pl-2 pr-2 pb-2 bg-primary">
                                <span class="float-left badge badge-primary">{{(annotation.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</span>
                                <span class="float-right badge badge-primary"
                                      ng-click="remove_item(annotation)">remove</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
<script>
    $('#frameModal').on('hide.bs.modal', function () {
        var ias = $('#photo').imgAreaSelect({
            instance: true
        });
        ias.cancelSelection();
    });


    var app = angular.module('app', []);

    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });

    app.controller('controller', function ($scope, $http, $timeout) {
        $scope.loadsuccess = false;
        $http.get('/ai/annotation/getc/class_id/' + class_id).success(
            function (data, status, headers, config) {
                $scope.data = data;
                $scope.loadsuccess = true;
                // $scope.draw_rect();
            }).error(function (data, status, headers, config) {
        });

        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2);
        };

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);

            img.removeChild(img.childNodes[4]);

            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();

            // var info_height = $('#info_' + $name).height();

            var offsetx = 0;
            var offsety = 0;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            // var cx = x1;
            // var cy = y1;
            // var cw = (x2 - x1);
            // var ch = (y2 - y1);

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            // canvas.style.width = '100%';
            // canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'red';
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height - offsety);
            context.strokeRect(cx, cy, cw - 1, ch - 1);
        };

        $scope.draw_rect = function () {
            var timer = $timeout(function () {
                for (var i = 0; i < $scope.data.length; i++) {
                    var id = $scope.data[i].id;
                    var img_name = '' + id;
                    $scope.draw(img_name,
                        $scope.data[i].w,
                        $scope.data[i].h,
                        $scope.data[i].x1,
                        $scope.data[i].y1,
                        $scope.data[i].x2,
                        $scope.data[i].y2);
                }
            }, 1000, true);

        };



        $scope.draw_selection = function () {
            var timer = $timeout(function () {
                var width = $('#photo').width();
                var height = $('#photo').height();

                var _x1 = parseInt($scope.modal_edit_annotation.x1) * width / parseInt($scope.modal_edit_annotation.w);
                var _y1 = parseInt($scope.modal_edit_annotation.y1) * height / parseInt($scope.modal_edit_annotation.h);
                var _x2 = parseInt($scope.modal_edit_annotation.x2) * width / parseInt($scope.modal_edit_annotation.w);
                var _y2 = parseInt($scope.modal_edit_annotation.y2) * height / parseInt($scope.modal_edit_annotation.h);

                _x1 = _x1 < width ? parseInt(_x1) : width;
                _y1 = _y1 < height ? parseInt(_y1) : height;
                _x2 = _x2 < width ? parseInt(_x2) : width;
                _y2 = _y2 < height ? parseInt(_y2) : height;

                $('#photo').imgAreaSelect({
                    handles: true,
                    fadeSpeed: 200,
                    parent: '.modal-content',
                    show: true,
                    onSelectChange: $scope.preview,
                    x1: _x1,
                    y1: _y1,
                    x2: _x2,
                    y2: _y2
                });

                // $('.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                //     $id = $(e.target).attr('id');
                //     console.log($id);
                //     for (var i = 0; i < $scope.modal_data.annotation.length; i++) {
                //         if ($scope.modal_data.annotation[i].id == $id) {
                //             $scope.modal_edit_annotation = $scope.modal_data.annotation[i];
                //             $('#photo').imgAreaSelect({
                //                 handles: true,
                //                 fadeSpeed: 200,
                //                 persistent: true,
                //                 parent: '.modal-content',
                //                 show: true,
                //                 onSelectChange: $scope.preview,
                //                 x1: parseInt($scope.modal_edit_annotation.x1),
                //                 y1: parseInt($scope.modal_edit_annotation.y1),
                //                 x2: parseInt($scope.modal_edit_annotation.x2),
                //                 y2: parseInt($scope.modal_edit_annotation.y2)
                //             });
                //         }
                //     }
                // })

            }, 1000, true);
        };

        $scope.movie_click = function ($annotation) {
            $http.get('/ai/annotation/getf/id/' + $annotation.id).success(
                function (data, status, headers, config) {
                    // $scope.modal_filepath = $annotation.filepath;
                    $scope.modal_edit_annotation = data.annotation[0];
                    $scope.modal_data = data;
                    $('#frameModal').modal({
                        backdrop: 'static',
                        keyboard: false,
                        'data-keyboard': false
                    });
                    $scope.draw_selection();
                }).error(function (data, status, headers, config) {
            });
        };

        $scope.btn_add_click = function ($class_id) {
            // window.location.href = '/ai/annotation/create/class_id/' + class_id;
            $http.get('/ai/annotation/add_one_training_data/movie_id/' + movie_id + '/class_id/' + class_id + '/total/1').success(
                function (data, status, headers, config) {
                    $scope.new_annotation_data = data;

                    // $('#addAnnotationModal').modal({
                    //     backdrop: 'static',
                    //     keyboard: false,
                    //     'data-keyboard': false
                    // });
                    // var timer = $timeout(function () {
                    //     $scope.image_onload();
                    // }, 1000, true);

                }).error(function (data, status, headers, config) {
            });
        };

        $scope.btn_add_keyframe_click = function ($class_id) {
            window.location.href = '/ai/annotation/create_annotation_from_keyframe/class_id/' + class_id;
        };

        $scope.preview = function (img, selection) {
            if (!selection.width || !selection.height)
                return;
            $scope.selection = selection;
            $('#photo').data('selection', selection);
            var width = $('#photo').width();
            var height = $('#photo').height();

            $scope.modal_edit_annotation.x1 = parseInt(selection.x1 * parseInt($scope.modal_edit_annotation.w) / width);
            $scope.modal_edit_annotation.y1 = parseInt(selection.y1 * parseInt($scope.modal_edit_annotation.h) / height);
            $scope.modal_edit_annotation.x2 = parseInt(selection.x2 * parseInt($scope.modal_edit_annotation.w) / width);
            $scope.modal_edit_annotation.y2 = parseInt(selection.y2 * parseInt($scope.modal_edit_annotation.h) / height);
            $scope.$apply();
        };

        $scope.delete_click = function () {
            $http({
                method: 'post',
                url: '/ai/annotation/delete',
                data: $scope.modal_edit_annotation
            }).success(function (req) {
                $('#frameModal').modal('hide');
                window.location.reload(false);
            })
        };

        $scope.remove_item = function ($annotation) {
            $http({
                method: 'post',
                url: '/ai/annotation/delete',
                data: $annotation
            }).success(function (req) {
                $scope.data.splice($.inArray($annotation, $scope.data), 1);
            })
        }

        $scope.cancel_click = function ($class_id) {
            $('#frameModal').modal('hide');
        };

        $scope.save_click = function () {
            $http({
                method: 'post',
                url: '/ai/annotation/save',
                data: $scope.modal_data.annotation
            }).success(function (req) {
                $('#frameModal').modal('hide');
            })
        };

    });
</script>

</html>
