<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$name_en}</title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/ai/css/imgareaselect-animated.css">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script type="text/javascript" src="/ai/js/jquery.imgareaselect.js"></script>

<script>
    var class_id = '{$class_id}';
    var round = '{$round}';
</script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai/classes">Classes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pending Annotations ({$name}
                        {{(data|filter:{round:-2}).length }}/{{data.length}})
                    </li>
                </ol>
            </nav>

            <include file="Public:image_annotation_pending" modal_title="Edit Pending Annotations"/>

            <div class="container-fluid">
                <div class="row cloak" ng-show="loadsuccess">
                    <div class="col-md-3" ng-repeat="annotation in data">
                        <div id="card_{{annotation.id}}" class="card mb-4 box-shadow">
                            <img id="img_{{annotation.id}}" class="card-img-top"
                                 imageonload="on_image_loaded(annotation)"
                                 ng-click="movie_click(annotation.id, annotation.filepath, $index)"
                                 style="display: block;" ng-src="{{annotation.filepath}}">
                            <div id="info_{{annotation.id}}" class="card-body pt-2 pl-2 pr-2 pb-2"
                                 ng-class="{true:'badge-success', false:'badge-primary'}[annotation.round == '-{$round}']">
                                 <small class="float-left">{{(annotation.frame_index)*41.84 - 16*60*60*1000 | date:'HH:mm:ss.sss'}}</small>
                                <!--<span class="float-left badge"-->
                                      <!--ng-class="{true:'badge-success', false:'badge-primary'}[annotation.round == '-{$round}']">Frame ID: {{annotation.frame_id}}</span>-->
                                <span class="float-right badge"
                                      ng-class="{true:'badge-success', false:'badge-primary'}[annotation.round == '-{$round}']">Confidence: {{annotation.confidence}}</span>
                                <!-- <small class="float-right">{{frame.filename}}</small> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
<script>
    $('#frameModal').on('hide.bs.modal', function () {
        var ias = $('#photo').imgAreaSelect({
            instance: true
        });
        ias.cancelSelection();
    })


    var app = angular.module('app', []);

    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });

    app.controller('controller', function ($scope, $http, $timeout) {
        $scope.loadsuccess = false;
        $http.get('/ai/annotation/get_pending/class_id/' + class_id + '/round/' + round).success(
            function (data, status, headers, config) {
                $scope.data = data.annotations;
                $scope.total = data.total;
                $scope.count = data.count;
                $scope.loadsuccess = true;
                // $scope.draw_rect();
            }).error(function (data, status, headers, config) {
        });

        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2);
        }

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);
            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();
            var offsetx = 10;
            var offsety = 34;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'red';
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height);
            context.strokeRect(cx, cy, cw, ch);
        }

        $scope.image_onload = function () {
            console.log('image_onload');
            $('#photo').imgAreaSelect({
                handles: true,
                fadeSpeed: 200,
                parent: '.modal-content',
                show: true,
                onSelectChange: $scope.preview,
                x1: parseInt($scope.modal_edit_annotation.x1) < 0 ? 0 : parseInt($scope.modal_edit_annotation.x1),
                y1: parseInt($scope.modal_edit_annotation.y1) < 0 ? 0 : parseInt($scope.modal_edit_annotation.y1),
                x2: parseInt($scope.modal_edit_annotation.x2),
                y2: parseInt($scope.modal_edit_annotation.y2)
            });
        }

        $scope.draw_selection = function () {
            var timer = $timeout(function () {
                $('.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    $id = $(e.target).attr('id');
                    console.log($id);
                    for (var i = 0; i < $scope.modal_data.annotation.length; i++) {
                        if ($scope.modal_data.annotation[i].id == $id) {
                            $scope.modal_edit_annotation = $scope.modal_data.annotation[i];
                            $('#photo').imgAreaSelect({
                                handles: true,
                                fadeSpeed: 200,
                                persistent: true,
                                parent: '.modal-content',
                                show: true,
                                onSelectChange: $scope.preview,
                                x1: parseInt($scope.modal_edit_annotation.x1) < 0 ? 0 : parseInt($scope.modal_edit_annotation.x1),
                                y1: parseInt($scope.modal_edit_annotation.y1) < 0 ? 0 : parseInt($scope.modal_edit_annotation.y1),
                                x2: parseInt($scope.modal_edit_annotation.x2),
                                y2: parseInt($scope.modal_edit_annotation.y2)
                            });
                        }
                    }
                })

            }, 1000, true);
        };

        $scope.fetch_model_data = function ($id, $filepath, $index) {
            $http.get('/ai/annotation/getf/id/' + $id).success(
                function (data, status, headers, config) {
                    $scope.modal_filepath = $filepath;
                    $scope.modal_edit_annotation = data.annotation[0];
                    $scope.modal_data = data;
                    $scope.edit_index = $index;
                    $('#frameModal').modal({
                        backdrop: 'static',
                        keyboard: false,
                        'data-keyboard': false
                    });
                    var timer = $timeout(function () {
                        $scope.image_onload();
                    }, 1000, true);
                }).error(function (data, status, headers, config) {
            });
        }

        $scope.movie_click = function ($id, $filepath, $index) {
            $scope.fetch_model_data($id, $filepath, $index);
        };

        $scope.btn_add_click = function ($class_id) {
            window.location.href = '/ai/annotation/create/class_id/' + class_id;
        };

        $scope.btn_add_keyframe_click = function ($class_id) {
            window.location.href = '/ai/annotation/create_annotation_from_keyframe/class_id/' + class_id;
        };

        $scope.preview = function (img, selection) {
            if (!selection.width || !selection.height)
                return;
            $scope.selection = selection;
            $('#photo').data('selection', selection);
            $scope.modal_edit_annotation.x1 = selection.x1 < 0 ? 0 : selection.x1;
            $scope.modal_edit_annotation.y1 = selection.y1 < 0 ? 0 : selection.y1;
            $scope.modal_edit_annotation.x2 = selection.x2;
            $scope.modal_edit_annotation.y2 = selection.y2;
            $scope.$apply();
        };

        $scope.delete_click = function () {
            $http({
                method: 'post',
                url: '/ai/annotation/delete',
                data: $scope.modal_edit_annotation
            }).success(function (req) {
                $scope.data.splice($scope.edit_index,1);
                $id = $scope.data[$scope.edit_index]['id'];
                $filepath = $scope.data[$scope.edit_index]['filepath'];
                $index = $scope.edit_index;
                $scope.fetch_model_data($id, $filepath, $index);
            })
        };

        $scope.cancel_click = function ($class_id) {
            $('#frameModal').modal('hide');
        };

        $scope.previous_click = function () {
            $scope.modal_data.annotation[0]['round'] = -round;
            $scope.data[$scope.edit_index]['round'] = -round;
            $scope.edit_index = $scope.edit_index - 1;
            if ($scope.data[$scope.edit_index]) {
                $filepath = $scope.data[$scope.edit_index]['filepath'];
                $filename = $scope.data[$scope.edit_index]['filename'];
                $id = $scope.data[$scope.edit_index]['id'];
                $http({
                    method: 'post',
                    url: '/ai/annotation/save',
                    data: $scope.modal_data.annotation
                }).success(function (data, status, headers, config) {
                    $scope.count = data;
                    $http.get('/ai/annotation/getf/id/' + $id).success(
                        function (data, status, headers, config) {
                            $scope.modal_filepath = $filepath;
                            $scope.modal_edit_annotation = data.annotation[0];
                            $scope.modal_data = data;
                            $scope.draw_selection();
                        }).error(function (data, status, headers, config) {
                    });
                })
            } else {
                $scope.ok_click();
            }
        };

        $scope.next_click = function () {
            $scope.modal_data.annotation[0]['round'] = -round;
            $scope.data[$scope.edit_index]['round'] = -round;
            $scope.edit_index = $scope.edit_index + 1;
            if ($scope.data[$scope.edit_index] != null) {
                $filepath = $scope.data[$scope.edit_index]['filepath'];
                $filename = $scope.data[$scope.edit_index]['filename'];
                $id = $scope.data[$scope.edit_index]['id'];
                $http({
                    method: 'post',
                    url: '/ai/annotation/save',
                    data: $scope.modal_data.annotation
                }).success(function (data, status, headers, config) {
                    $scope.count = data;
                    $http.get('/ai/annotation/getf/id/' + $id).success(
                        function (data, status, headers, config) {
                            $scope.modal_filepath = $filepath;
                            $scope.modal_edit_annotation = data.annotation[0];
                            $scope.modal_data = data;
                            $scope.draw_selection();
                        }).error(function (data, status, headers, config) {
                    });
                })
            } else {
                $scope.ok_click();
            }
        };

        $scope.ok_click = function () {
            if ($scope.modal_data.annotation[0].length > 0) {
                $scope.modal_data.annotation[0]['round'] = -round;
                $http({
                    method: 'post',
                    url: '/ai/annotation/save',
                    data: $scope.modal_data.annotation
                }).success(function (req) {
                    $('#frameModal').modal('hide');
                    window.location.reload(false);
                })
            } else {
                window.location.reload(false);
            }
        };

    });
</script>

</html>
