<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$name_en}</title>
  <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>

<script>
  var class_id = '{$class_id}';
</script>

<body data-gr-c-s-loaded="true">
  <include file="Public:navi" />
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <include file="Public:sidebar" />
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
            <li class="breadcrumb-item"><a href="/ai/classes">Classes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
          </ol>
        </nav>
        <include file="Public:select_key_frame" modal_title="Select image" />

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                  </div>
                  <input type="text" ng-model="data.class.name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Movie</label>
                  </div>

                  <select class="custom-select d-block w-50" ng-model="data.class.movie_id" ng-change="chenge()">
                    <option ng-repeat="movie in data.movies" value="{{movie.id}}" ng-bind="movie.name"></option>
                  </select>

                </div>

                <p class="btn btn-success" ng-click="select_image()">Select Images</p>
                <div ng-show="data.class.image != '' ">
                  <div class="card mb-4 box-shadow">
                    <img id="photo" class="card-img-top" style="display: block;" ng-src="{{data.modal.image_path}}{{data.class.image}}">
                  </div>

                  <p class="btn btn-primary mr-2" ng-click="save()">Save</p>
                  <p class="btn btn-secondary" ng-click="cancel()">Cancel</p>
                  <div>

                  </div>
                </div>
              </div>
            </div>
      </main>
      </div>
      </div>

</body>

<script>
  var app = angular.module('app', []);
  app.controller('controller', function($scope, $http) {
    $http.get('/ai/classes/get/class_id/' + class_id).success(
      function(data, status, headers, config) {
        $scope.data = data;
      }).error(function(data, status, headers, config) {});

    $scope.select_image = function() {
      $http.get("/ai/classes/get_key_frames/movie_id/" + $scope.data.class.movie_id).success(
        function(data, status, headers, config) {
          $scope.modal = data;
          $('#frameModal').modal({
              backdrop: 'static',
              keyboard: false,
              'data-keyboard': false
          });
          // $scope.$apply();
        }).error(function(data, status, headers, config) {});
    };

    $scope.frame_click = function($frame) {
      $('#frameModal').modal('hide')
      $scope.data.class.image = $frame.filename;
    };

    $scope.cancel_click = function($frame) {
      $('#frameModal').modal('hide')
    };

    $scope.cancel = function($frame) {
      window.location.href = '/ai/classes/';
    };

    $scope.save = function() {
      $http({
        method:'post',
        url:'/ai/classes/save',
        data: $scope.data.class
      }).success(function(req){
        window.location.href = '/ai/classes/';
      })
    };
  });
</script>

</html>
