<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$name_en}</title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script>
    var class_id = '{$class_id}';
    var weights_id = '{$weights_id}';
    var movie_id = '{$movie_id}';
    var minute = '{$minute}';
</script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai/classes">Classes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{$class_name} Ground Truth List
                        {{data.total}} (Minute : {$minute})
                    </li>
                </ol>
            </nav>

            <select class="form-control float-right mr-3>" id="exampleFormControlSelect1" style="width: 200px" ng-model="select_weights"
                    ng-change="change_weights()">
                <option ng-repeat="w in weights_list" ng-selected="select_weights == {{w.weights_id}}" value="{{w.weights_id}}">{{w.name}}</option>
            </select>

            <div class="container-fluid">

                <div class="row" ng-show="loadsuccess">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link"
                                                                                             href="{{page.link}}">{{page.name}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row cloak" ng-show="loadsuccess">
                    <div class="col-md-3" ng-repeat="frame in data.frames">
                        <div id="card_{{frame.id}}" class="card mb-4 box-shadow">
                            <img id="img_{{frame.id}}" imageonload="on_image_loaded(frame)" class="card-img-top"
                                 style="display: block;" data-toggle="modal"
                                 data-target="#frameModal" data-filename="{{data.image_path}}{{frame.filename}}"
                                 ng-src="{{data.image_path}}{{frame.filename}}" data-holder-rendered="true">
                            <div class="card-body pt-2 pl-2 pr-2 pb-2 text-center"
                                 ng-class="{true:'card-body pt-2 pl-2 pr-2 pb-2 text-center bg-warning',false:'card-body pt-2 pl-2 pr-2 pb-2 text-center'}[frame.gt]">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline_{{frame.id}}_1"
                                           name="customRadioInline{{frame.id}}" class="custom-control-input"
                                           ng-click="click_in(frame)" ng-value="1" ng-model="frame.flag">
                                    <label class="custom-control-label"
                                           for="customRadioInline_{{frame.id}}_1">In</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline_{{frame.id}}_2"
                                           name="customRadioInline{{frame.id}}" class="custom-control-input"
                                           ng-click="click_na(frame)" ng-value="0" ng-model="frame.flag">
                                    <label class="custom-control-label"
                                           for="customRadioInline_{{frame.id}}_2">N/A</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline_{{frame.id}}_3"
                                           name="customRadioInline{{frame.id}}" class="custom-control-input"
                                           ng-click="click_out(frame)" ng-value="2" ng-model="frame.flag">
                                    <label class="custom-control-label"
                                           for="customRadioInline_{{frame.id}}_3">Out</label>
                                </div>
                                <span class="badge badge-pill badge-secondary float-right">{{frame.confidence}}</span>
                            </div>

                            <!--<div class="card-body pt-0 pl-2 pr-2 pb-2">-->
                            <!--<small ng-bind="frame.filename"></small>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="loadsuccess">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li ng-repeat="page in data.pages" class="{{page.class}}"><a class="page-link"
                                                                                             href="{{page.link}}">{{page.name}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>

</body>
<script>
    var app = angular.module('app', []);
    app.directive('imageonload', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.bind('load', function () {
                    scope.$apply(attrs.imageonload);
                });
            }
        };
    });
    app.controller('controller', function ($scope, $http) {
        $scope.loadsuccess = false;
        $scope.select_weights = weights_id;
        $http.get('/ai/classes/get_ground_truth_data/class_id/' + class_id + '/weights_id/' + weights_id + '/minute/' + minute).success(
            function (data, status, headers, config) {
                $scope.data = data;
                $scope.loadsuccess = true;
                $scope.refresh_gt();
            }).error(function (data, status, headers, config) {
        });

        $http.get('/ai/classes/get_avaliable_weights/movie_id/' + movie_id).success(
            function (data, status, headers, config) {
                $scope.weights_list = data;
            }).error(function (data, status, headers, config) {
        });

        $scope.on_image_loaded = function ($annotation) {
            // console.log($annotation.id + ': x1=' + $annotation.x1);
            var id = $annotation.id;
            var img_name = '' + id;
            $scope.draw(img_name,
                $annotation.w,
                $annotation.h,
                $annotation.x1,
                $annotation.y1,
                $annotation.x2,
                $annotation.y2);
        }

        $scope.draw = function ($name, w, h, x1, y1, x2, y2) {

            var img = document.getElementById('card_' + $name);
            var width = $('#img_' + $name).width();
            var height = $('#img_' + $name).height();
            var offsetx = 10;
            var offsety = 34;

            var cx = x1 * (width - offsetx) / w;
            var cy = y1 * (height - offsety) / h;
            var cw = (x2 - x1) * (width - offsetx) / w;
            var ch = (y2 - y1) * (height - offsety) / h;

            var canvas = document.createElement('canvas'); //Create a canvas element
            //Set canvas width/height
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            //Set canvas drawing area width/height
            canvas.width = width;
            canvas.height = height;
            //Position canvas
            canvas.style.position = 'absolute';
            canvas.style.left = 0;
            canvas.style.top = 0;
            canvas.style.zIndex = 2;
            canvas.style.pointerEvents = 'none'; //Make sure you can click 'through' the canvas

            img.appendChild(canvas);
            // var img = $('#' + $name);
            // img.append(canvas); //Append canvas to body element
            var context = canvas.getContext('2d');
            //Draw rectangle
            context.strokeStyle = 'red';
            context.lineWidth = 2;
            // context.strokeRect(0, 0, width, height);
            context.strokeRect(cx, cy, cw, ch);
        }

        $scope.click_in = function ($frame) {
            $http({
                method: 'post',
                url: '/ai/classes/save_gt',
                data: {
                    flag: 1,
                    movie_id: movie_id,
                    class_id: class_id,
                    frame_id: $frame['id'],
                    filename: $frame['filename']
                }
            }).success(function (req) {
            })
        };

        $scope.click_na = function ($frame) {
            $http({
                method: 'post',
                url: '/ai/classes/save_gt',
                data: {
                    flag: 0,
                    filename: $frame['filename']
                }
            }).success(function (req) {
                $scope.refresh_gt();
            })
        };

        $scope.click_out = function ($frame) {
            $http({
                method: 'post',
                url: '/ai/classes/save_gt',
                data: {
                    flag: 2,
                    movie_id: movie_id,
                    class_id: class_id,
                    frame_id: $frame['id'],
                    filename: $frame['filename']
                }
            }).success(function (req) {
                $scope.refresh_gt();
            })
        };

        function is_gt(data, frame_id) {

            var left = -1;
            var right = -1;

            if (data.length < 2)
                return false;

            var cur_frame_id = parseInt(data[0].frame_id);

            if (frame_id < cur_frame_id)
                return false;

            for (var i = 0; i < data.length; i++) {
                if (parseInt(data[i].frame_id) == frame_id)
                    return true;

                if (parseInt(data[i].frame_id) < frame_id)
                    left = i;

                if (parseInt(data[i].frame_id) > frame_id) {
                    right = i;
                    break;
                }
            }

            if (right == -1)
                return false;

            return data[left].flag == '1';
        }


        $scope.refresh_gt = function ($movie_id) {
            $http.get('/ai/classes/get_gt/movie_id/' + movie_id).success(
                function (data, status, headers, config) {
                    for (var i = 0; i < $scope.data.frames.length; i++) {
                        $scope.data.frames[i]['gt'] = is_gt(data, $scope.data.frames[i]['id']);
                    }
                }).error(function (data, status, headers, config) {
            });
        }

        $scope.change_weights = function () {
            window.location = "/ai/classes/ground_truth/class_id/" + class_id + "/weights_id/" + $scope.select_weights + "/minute/" + 0;
        }
    });
</script>

</html>
