<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$name_en}</title>
  <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>

<body data-gr-c-s-loaded="true">
  <include file="Public:navi" />
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <include file="Public:sidebar" />
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/ai">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Classes</li>
          </ol>
        </nav>

        <div class="table-responsive">
          <div class="container-fluid">
            <div class="row mb-2">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Poster</th>
                  <th scope="col">Title</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="movie in movies" class="align-middle">
                  <th scope="row">{{movie.id}}</th>
                  <td><img style="width: 100px" ng-src="{{movie.image}}"></td>
                  <td><h6>{{movie.name}}</h6></td>
                  <td>
                      <button type="button" class="btn btn-outline-primary btn-block" ng-click="classes_click(movie)">
                      Class <span class="badge badge-light" ng-bind="movie.classes.length"></span>
                      </button> </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--<div class="container-fluid">-->

          <!--<div class="row">-->
            <!--<div class="col-md-2" ng-repeat="movie in movies">-->
              <!--<div class="card mb-4 box-shadow">-->
                <!--<div class="card-header text-center">-->
                 <!--{{movie.id}}-{{movie.name}}-->
                <!--</div>-->
                <!--<img class="card-img" style="display: block;" ng-click="classes_click(movie)" ng-src="{{movie.image}}" ng-click="classes_click(class)">-->
                <!--<div class="card-body pt-2 pl-2 pr-2 pb-2">-->
                  <!--<button type="button" class="btn btn-outline-primary btn-block" ng-click="classes_click(movie)">-->
                    <!--Class <span class="badge badge-light" ng-bind="movie.classes.length"></span>-->
                    <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </main>
    </div>
  </div>

</body>

<script>
  var app = angular.module('app', []);
  app.controller('controller', function($scope, $http) {
    $http.get('/ai/classes/getmovies').success(
      function(data, status, headers, config) {
        $scope.movies = data;
      }).error(function(data, status, headers, config) {});

    $scope.classes_click = function($movie) {
      window.location = "/ai/classes/movie/movie_id/" + $movie.id;
    };

  });
</script>

</html>
