<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$name_en}</title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script>
    var movie_id = '{$movie_id}';
</script>
<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai/classes">Classes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{$movie_name}</li>
                </ol>
                <p class="btn btn-success" ng-click="add_classes()">Add</p>
            </nav>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3" ng-repeat="class in classes">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header text-center">
                                <h5 class="my-0 font-weight-normal">{{class.name}} ({{class.id}})</h5>
                            </div>
                            <img class="card-img" style="display: block;"
                                 ng-src="{{class.image_path}}{{class.image}}" ng-click="classes_click(class)">
                            <div class="card-body pt-2 pl-2 pr-2 pb-1">
                                <button type="button" class="btn btn-outline-primary btn-block"
                                        ng-click="annotation_click(class)">
                                    Anotations <span class="badge badge-warning" ng-bind="class.count"></span>
                                </button>
                            </div>
                            <div class="card-body pt-2 pl-2 pr-2 pb-1" ng-repeat="round_cnt in class.pending_round_list">
                                <button type="button" class="btn btn-outline-danger btn-block"
                                        ng-click="pending_click(class, round_cnt.round)">
                                    Pending Annotations {{round_cnt.round}} <span class="badge badge-warning" ng-bind="round_cnt.count"></span>
                                </button>
                            </div>
                            <div class="card-body pt-2 pl-2 pr-2 pb-2">
                                <button type="button" class="btn btn-outline-success btn-block"
                                        ng-click="ground_truth_click(class)">
                                    Ground Truth <span class="badge badge-warning">0</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

<script>
    var app = angular.module('app', []);
    app.controller('controller', function ($scope, $http) {
        $http.get('/ai/classes/all/movie_id/' + movie_id).success(
            function (data, status, headers, config) {
                $scope.classes = data;
            }).error(function (data, status, headers, config) {
        });

        $scope.annotation_click = function ($class) {
            window.location = "/ai/annotation/index/class_id/" + $class.id;
        };
        $scope.add_classes = function ($class) {
            window.location = "/ai/classes/add/movie_id/" + +movie_id;
        };

        $scope.classes_click = function ($class) {
            window.location = "/ai/classes/edit/class_id/" + $class.id;
        };

        $scope.pending_click = function ($class, $round) {
            window.location = "/ai/annotation/pending/class_id/" + $class.id + "/round/" + $round;
        };

        $scope.ground_truth_click = function ($class) {
            window.location = "/ai/classes/ground_truth/class_id/" + $class.id;
        };


    });
</script>
</html>
