<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi" />
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar" />
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"  ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Movies ({{data.length}})</li>
                </ol>
            </nav>

            <div class="table-responsive">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Poster</th>
                                <th scope="col">Title</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="imdb in data" class="align-middle">
                                <th scope="row">{{imdb.id}}</th>
                                <td><img style="width: 100px" ng-src="{{imdb.imdb_info.Poster}}"></td>
                                <td><h6>{{imdb.imdb_info.Title}}</h6></td>
                                <td><button type="button" class="btn btn-sm btn-primary" ng-disabled="imdb.created" ng-click="create_movie_info(imdb)">Create Movie Info</button>
                                    <button type="button" class="btn btn-sm btn-info" ng-disabled="imdb.created" ng-click="create_frame(imdb)">Create Frames</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

<script>
    var app = angular.module('app', []);
    app.controller('controller', function($scope, $http) {

        $scope.reload = function($imdb) {
            $http.get('/ai/videos/get_all').success(
                function(data, status, headers, config) {
                    $scope.data = data;
                }).error(function(data, status, headers, config) {});
        }

        $scope.create_movie_info = function($imdb) {
            $http({
                method: 'post',
                url: '/ai/videos/create_frame',
                data: $imdb
            }).success(function(req) {
                $scope.reload();
            })
        };

        $scope.reload();
    });
</script>

</html>
