<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
    <link href="/ai/css/c3.min.css" rel="stylesheet">
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>
<script src="/ai/js/d3.v4.min.js" charset="utf-8"></script>
<script src="/ai/js/c3.min.js"></script>
<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reports List</li>
                </ol>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 mb-4" ng-repeat="data in weights">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center active">
                                <span class="text-center">{{data.name}}</span>
                                <span class="text-right">{{data.movie_name}}</span>
                                <span class="text-right">{{data.class_name}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                                <small class="text-center">Confidence</small>
                                <small class="float-right">Precision</small>
                                <small class="float-right">Recall</small>
                                <small class="float-right">F1</small>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                ng-repeat="item in data.data">
                                <span class="float-left" ng-init="p_index=$index">{{(p_index+2)*0.1|number:1}}</span>
                                <span class="float-right">{{item.precision|percentage:2}}</span>
                                <span class="float-right">{{item.recall|percentage:2}}</span>
                                <span class="float-right">{{(2*item.recall*item.precision)/(item.recall+item.precision)|percentage:2}}</span>
                            </li>
                            <!--<li class="list-group-item" style="padding-left: 0px; padding-bottom: 0px; padding-top: 20px; padding-right: 20px">-->
                                <!--<div style="width: 100%" ng-init="p_index=$index" id="mychart{{p_index}}"></div>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    var app = angular.module('app', []);
    app.filter('percentage', ['$filter', function ($filter) {
        return function (input, decimals) {
            return $filter('number')(input * 100, decimals) + ' %';
        };
    }]);

    app.controller('controller', function ($scope, $http, $timeout) {
        $http.get('/ai/reports/get_weights').success(
            function (data, status, headers, config) {
                $scope.weights = data;
                // $scope.get_reports();
                var timer = $timeout(function () {
                    for (var i = 0; i < $scope.weights.length; i++) {
                        var scatterChartData = {datasets:[{

                                data: [{x:$scope.weights[i].data[0]['precision'], y:$scope.weights[i].data[0]['recall']},
                                    {x:$scope.weights[i].data[1]['precision'], y:$scope.weights[i].data[1]['recall']},
                                    {x:$scope.weights[i].data[2]['precision'], y:$scope.weights[i].data[2]['recall']},
                                    {x:$scope.weights[i].data[3]['precision'], y:$scope.weights[i].data[3]['recall']},
                                    {x:$scope.weights[i].data[4]['precision'], y:$scope.weights[i].data[4]['recall']},
                                    {x:$scope.weights[i].data[5]['precision'], y:$scope.weights[i].data[5]['recall']},
                                    {x:$scope.weights[i].data[6]['precision'], y:$scope.weights[i].data[6]['recall']},
                                    {x:$scope.weights[i].data[7]['precision'], y:$scope.weights[i].data[7]['recall']}],
                                // lineTension: 0,
                                backgroundColor: 'transparent',
                                borderColor: '#007bff',
                                // borderWidth: 2,
                                // pointBackgroundColor: '#007bff'

                            }]};
                        $scope.show_chart(i);
                    }
                }, 100, true);

            }).error(function (data, status, headers, config) {
        });


        $scope.get_reports = function () {
            for (var i = 0; i < $scope.weights.length; i++) {
                $w = $scope.weights[i];
                $http.get('/ai/reports/get_report_data/id/' + i + '/model_id/' + $w['model_id'] + '/weights_id/' + $w['id'] + '/class_id/0').success(
                    function (data, status, headers, config) {
                        $scope.weights[data['id']]['data'] = data['data'];
                        $scope.show_chart(data['id']);
                    }).error(function (data, status, headers, config) {
                });
            }
        }

        $scope.show_chart = function ($id) {
            var precision = [
                ($scope.weights[$id].data[0]['precision']).toFixed(4),
                ($scope.weights[$id].data[1]['precision']).toFixed(4),
                ($scope.weights[$id].data[2]['precision']).toFixed(4),
                ($scope.weights[$id].data[3]['precision']).toFixed(4),
                ($scope.weights[$id].data[4]['precision']).toFixed(4),
                ($scope.weights[$id].data[5]['precision']).toFixed(4),
                ($scope.weights[$id].data[6]['precision']).toFixed(4),
                ($scope.weights[$id].data[7]['precision']).toFixed(4)
            ];
            var recall = [
                ($scope.weights[$id].data[0]['recall']).toFixed(4),
                ($scope.weights[$id].data[1]['recall']).toFixed(4),
                ($scope.weights[$id].data[2]['recall']).toFixed(4),
                ($scope.weights[$id].data[3]['recall']).toFixed(4),
                ($scope.weights[$id].data[4]['recall']).toFixed(4),
                ($scope.weights[$id].data[5]['recall']).toFixed(4),
                ($scope.weights[$id].data[6]['recall']).toFixed(4),
                ($scope.weights[$id].data[7]['recall']).toFixed(4)
            ];
            // var threshold = [0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9];

            var chart = c3.generate({
                bindto: '#mychart'+ $id,
                data: {
                    x: 'recall_x',
                    columns: [
                        ['precision'].concat(precision), ['recall_x'].concat(recall)
                    ],
                    onclick: function(d, element) {
                        // console.log(threshold[d.index]);
                    }
                },
                axis: {
                    x: {
                        label: 'Recall',
                        // max:0.9,
                        min:0.3
                    },
                    y: {
                        label: 'Precision',
                        min:0.8
                    }
                },
                legend: {
                    show: false
                },
                grid: {
                    x: {
                        show: false
                    },
                    y: {
                        show: true
                    }
                }
            });
        }

    });

</script>
</body>

</html>
