<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/ai/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ai/css/main.css" rel="stylesheet">
    <style type="text/css">
        /* Chart.js */

        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>
<script src="/ai/js/jquery-2.1.3.min.js"></script>
<script src="/ai/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/ai/js/angular.min.js"></script>

<body data-gr-c-s-loaded="true">
<include file="Public:navi"/>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <include file="Public:sidebar"/>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" ng-app="app" ng-controller="controller">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/ai">Home</a></li>
                    <li class="breadcrumb-item"><a href="/ai">Report</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tangled</li>
                </ol>
            </nav>

            <div class="container-fluid">

                <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded box-shadow">
                    <div class="lh-100">
                        <h4 class="mb-0 text-white lh-100">Modle #1</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Movie Info</span>
                            <span class="badge badge-success badge-pill">1</span>
                        </h4>
                        <ul class="list-group mb-3">

                            <li class="list-group-item d-flex justify-content-between lh-condensed active">
                                <span>Name</span>
                                <span class="text-right">Frames</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <span>Tangled 2010</span>
                                <span class="text-right">144,250</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Class Info</span>
                            <span class="badge badge-success badge-pill">1</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed active">
                                <span>Name</span>
                                <span class="text-right">Annotations</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <span>Rapunzel</span>
                                <span class="text-right">2,093</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 order-md-2 mb-4">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed active">
                                <span>voc-tcl_40000.weights</span>
                                <span class="text-right">40,000</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                ng-repeat="item in weights[0].data">
                                <span class="float-left" ng-init="p_index=$index">{{(p_index+2)*0.1|number:1}}</span>
                                <span class="float-right">{{item|percentage:2}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <canvas class="my-4" style="width: 100%; height: 100%" ng-init="p_index=$index" id="myChart0"></canvas>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
        </main>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script>
    var app = angular.module('app', []);
    app.filter('percentage', ['$filter', function ($filter) {
        return function (input, decimals) {
            return $filter('number')(input * 100, decimals) + ' %';
        };
    }]);

    app.controller('controller', function ($scope, $http, $timeout) {
        $http.get('/ai/reports/get_weights').success(
            function (data, status, headers, config) {
                $scope.weights = data;
                // $scope.get_reports();
                var timer = $timeout(function () {
                    for (var i = 0; i < $scope.weights.length; i++) {
                        $scope.show_chart(i);
                    }
                }, 100, true);

            }).error(function (data, status, headers, config) {
        });


        $scope.get_reports = function () {
            for (var i = 0; i < $scope.weights.length; i++) {
                $w = $scope.weights[i];
                $http.get('/ai/reports/get_report_data/id/' + i + '/model_id/' + $w['model_id'] + '/weights_id/' + $w['id'] + '/class_id/0').success(
                    function (data, status, headers, config) {
                        $scope.weights[data['id']]['data'] = data['data'];
                        $scope.show_chart(data['id']);
                    }).error(function (data, status, headers, config) {
                });
            }
        }

        $scope.show_chart = function ($id) {
            var ctx = document.getElementById("myChart" + $id);
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["0.2", "0.3", "0.4", "0.5", "0.6", "0.7", "0.8", "0.9"],
                    datasets: [{
                        data: $scope.weights[$id]['data'],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return (value*100).toFixed(0) + '%';
                                },
                                beginAtZero: true,
                                max: 1.0
                            }
                        }]
                    },
                    legend: {
                        display: false,
                    }
                }
            });
        }

    });

</script>
</body>

</html>
